---
import Main from "@/layouts/Main.astro";
import "@/styles/main.css";
---

<Main title="Civitai Model Browser">
  <main>
    <h1>Civitai Model Browser</h1>
    <p>Displays Civitai info for your locally downloaded models</p>
  </main>
</Main>
