---
import Main from "@/layouts/Main.astro";
import Models from "@/components/models";
import "@/styles/main.css";
---

<Main title="Civitai Model Browser">
  <main>
    <h1>Civitai Model Browser</h1>
    <p>Displays Civitai info for your locally downloaded models</p>
    <p>Runs in your browser, no data is uploaded</p>

    <!-- @ts-ignore (webkitdirectory not exists) -->
    <input
      id="model-folder"
      type="file"
      webkitdirectory
      label="Choose model directory"
    />
    <button>Choose model folder</button>
    <Models client:visible />
  </main>
</Main>

<script>
  import { $models, $progress, updateModel } from "@/lib/store";

  const button = document.querySelector("button");
  const input: HTMLElement | null = document.querySelector("#model-folder");
  const worker = new Worker("../lib/worker", { type: "module" });

  button?.addEventListener("click", () => input!.click());
  input?.addEventListener("change", (event) =>
    worker.postMessage((event.target as HTMLInputElement).files)
  );
  worker.addEventListener("message", (event) => {
    const { data } = event || {};
    if (!data) return;
    switch (data.type) {
      case "models":
        $models.set(data.models);
        $progress.setKey("remaining", data.models.length);
        break;
      case "processing":
        $progress.setKey("current", data.model.id);
        break;
      case "updateModel":
        const { type, ...rest } = data;
        updateModel(rest);
        break;
      case "processed":
        $progress.setKey("remaining", $progress.get().remaining - 1);
        break;
      default:
        console.error("Unknown message type", event.data.type);
    }
  });
</script>
