---
import Main from "@/layouts/Main.astro";
import Fields from "@/components/settings";
---

<Main title="Settings">
  <main id="settings">
    <h1>Settings</h1>
    <Fields client:visible />
  </main>
</Main>
