.badge {
  display: inline-block;
  background-color: var(--bg-color, var(--mid));
  color: var(--color, var(--lightest));
  padding: 0.5em;
  line-height: 1;
  text-align: center;
  display: flex;
  align-items: center;
  border-radius: 0.25em;
}
