ul.list {
  list-style: none;
  margin: 0;
  padding: 1em 0;
  display: grid;
}

.progress {
  margin-top: 1em;
}

ul.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--gi-width, 10em), 1fr));
  border-left: 0;
  border-right: 0;
}
ul.grid {
  border: 2px solid var(--lighter);
}
ul.grid.full-width {
  position: absolute;
  left: 0;
  right: 0;
}
