.model-info h1 {
  font-size: 1.5em;
}

.model-info ul.fields {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  row-gap: 0.5em;
}

.model-info ul.fields .input {
  display: contents;
}
