.model-li {
  display: grid;
  position: relative;
  background: var(--mid);
  border: 2px solid var(--lighter);
  border-radius: 0.25em;
  align-items: center;
  min-height: 8em;
}
.model-li[data-has-preview="true"] {
  grid-template-columns: 0.15fr 1fr;
}
.model-li .preview {
  position: relative;
  width: 100%;
  height: 100%;
}
.model-li .preview img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.model-li .content {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0.5em 1em;
}

.model-li .fields {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.2em 0.5em;
  align-items: center;
}
.model-li .fields {
  font-size: 0.8em;
}
.model-li .textarea {
  display: contents;
}

.model-li .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8em;
}

.model-li h3 {
  color: var(--link-color);
  margin: 0;
  margin-bottom: 0.25em;
  font-size: 1em;
}

.model-li textarea {
  background: var(--darkest);
  display: inline-block;
  border: none;
  padding: 0;
  resize: none;
  min-height: 0;
  font-size: 0.8em;
}

.model-li a svg {
  width: 1em;
  height: 1em;
}

/* Row spacing */
.model-li[data-success="true"] {
  margin: 0.5em 0;
}
.model-li[data-success="true"]:has(+ .model-li:not([data-success="true"])) {
  margin-bottom: 1em;
}
.model-li:not([data-success="true"]):has(+ .model-li[data-success="true"]) {
  margin-bottom: 0.5em;
}

/* Minimize queued and errored items */
.model-li[data-has-error="true"],
.model-li[data-is-queued="true"] {
  min-height: 0;
}
.model-li[data-has-error="true"] h3,
.model-li[data-is-queued="true"] h3 {
  margin-bottom: 0;
}

.model-li[data-has-error="true"] .content,
.model-li[data-is-queued="true"] .content {
  padding: 0 1em;
  grid-template-columns: 1fr auto;
  align-items: center;
  justify-content: space-between;
}
.model-li[data-has-error="true"] h3,
.model-li[data-is-queued="true"] .content {
  font-size: 0.8em;
}

.model-li[data-is-queued="true"],
.model-li[data-is-queued="true"] textarea {
  border-style: dotted;
  background: none;
}

.model-li[data-is-loading="true"],
.model-li[data-is-loading="true"] textarea {
  border-style: dotted;
  background: var(--accent-dark-green);
}

.model-li[data-has-error="true"],
.model-li[data-has-error="true"] textarea {
  opacity: 0.8;
  border-style: dashed;
  border-color: var(--accent-dark-red);
  background: none;
}
