.model-info h1 {
  font-size: 1.5em;
  margin: 0;
}
.model-info .pre-meta {
  display: flex;
  justify-content: space-between;
  gap: 0.5em;
  margin-top: 1em;
  font-size: 0.8em;
}
.model-info .pre-meta .badges {
  display: flex;
  gap: 0.5em;
}
.model-info .post-meta {
  display: flex;
  margin-bottom: 1em;
  font-size: 0.8em;
}

.model-info ul.fields {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  row-gap: 0.5em;
}

.model-info ul.fields .input,
.model-info ul.fields li {
  display: contents;
}

.model-info .gallery .gallery-item:has(> img.thumbnail) {
  border: 0.25em solid var(--accent-blue);
  border-radius: 0.25em;
}

.model-info .description {
  border-top: 2px dotted var(--lighter);
  padding-top: 0.5em;
}
.model-info .desc-header {
  margin-bottom: 0;
  margin-top: 1em;
}
